_target_: zatom.models.architectures.tft.TFT

# Modules
multimodal_model:
  _target_: zatom.models.architectures.transformer.transformer_module.TransformerModule
  _partial_: True
  spatial_dim: ${globals.spatial_dim}
  atom_dim: ${globals.max_num_elements}
  num_properties: ${globals.num_global_properties}
  implementation: modern_transformer # NOTE: must be one of (`transformer`, `modern_transformer`)
  context_length: ${globals.max_num_atoms}
  rope_base: ${globals.rope_base}
  qk_layernorm: true
  use_sdpa: true
  jvp_attn: false
  cross_attention: true
  add_sinusoid_posenc: true
  is_conservative: false

dataset_embedder:
  _target_: zatom.models.architectures.transformer.common.LabelEmbedder
  num_classes: ${globals.num_dataset_classes}
  hidden_size: ${model.architecture.hidden_size}
  dropout_prob: 0.1

spacegroup_embedder:
  _target_: zatom.models.architectures.transformer.common.LabelEmbedder
  num_classes: ${globals.num_spacegroup_classes}
  hidden_size: ${model.architecture.hidden_size}
  dropout_prob: 0.1

# Interpolants for each modality
atom_types_interpolant:
  _target_: zatom.flow.interpolants.DiscreteInterpolant
  key: atom_types
  loss_weight: 0.1
  path_t_min: 0.0
  path_t_max: 1.0
  sample_schedule: log # NOTE: must be one of (`linear`, `power`, `log`)
  temperature: 1.0
  top_k: null
  top_p: null
  time_factor:
    _target_: zatom.flow.time_factor.InverseTimeFactor
    max_value: 100.0
    min_value: 0.05
    zero_before: 0.0
    eps: 1e-6

pos_interpolant:
  _target_: zatom.flow.interpolants.SDEMetricInterpolant
  key: pos
  loss_weight: 1.0
  path_t_min: 0.0
  path_t_max: 1.0
  sample_schedule: log # NOTE: must be one of (`linear`, `power`, `log`)
  centered: true
  scale_noise_by_log_num_tokens: false
  noise_scale: 1.0
  langevin_sampling_schedule:
    _target_: zatom.sampling.noise_schedule.SampleNoiseSchedule
    cutoff: 0.95
  white_noise_sampling_scale: 50.0
  time_factor:
    _target_: zatom.flow.time_factor.InverseTimeFactor
    max_value: 100.0
    min_value: 0.05
    zero_before: 0.0
    eps: 1e-6

frac_coords_interpolant:
  _target_: zatom.flow.interpolants.SDEMetricInterpolant
  key: frac_coords
  loss_weight: 1.0
  path_t_min: 0.0
  path_t_max: 1.0
  sample_schedule: log # NOTE: must be one of (`linear`, `power`, `log`)
  centered: false
  scale_noise_by_log_num_tokens: false
  noise_scale: 1.0
  langevin_sampling_schedule:
    _target_: zatom.sampling.noise_schedule.SampleNoiseSchedule
    cutoff: 0.9
  white_noise_sampling_scale: 0.01
  time_factor:
    _target_: zatom.flow.time_factor.InverseTimeFactor
    max_value: 100.0
    min_value: 0.05
    zero_before: 0.0
    eps: 1e-6

lengths_scaled_interpolant:
  _target_: zatom.flow.interpolants.SDEMetricInterpolant
  key: lengths_scaled
  loss_weight: 1.0
  path_t_min: 0.0
  path_t_max: 1.0
  sample_schedule: log # NOTE: must be one of (`linear`, `power`, `log`)
  centered: false
  scale_noise_by_log_num_tokens: false
  noise_scale: 1.0
  langevin_sampling_schedule:
    _target_: zatom.sampling.noise_schedule.SampleNoiseSchedule
    cutoff: 0.9
  white_noise_sampling_scale: 0.01
  time_factor:
    _target_: zatom.flow.time_factor.InverseTimeFactor
    max_value: 100.0
    min_value: 0.05
    zero_before: 0.0
    eps: 1e-6

angles_radians_interpolant:
  _target_: zatom.flow.interpolants.SDEMetricInterpolant
  key: angles_radians
  loss_weight: 1.0
  path_t_min: 0.0
  path_t_max: 1.0
  sample_schedule: log # NOTE: must be one of (`linear`, `power`, `log`)
  centered: false
  scale_noise_by_log_num_tokens: false
  noise_scale: 1.0
  langevin_sampling_schedule:
    _target_: zatom.sampling.noise_schedule.SampleNoiseSchedule
    cutoff: 0.9
  white_noise_sampling_scale: 0.01
  time_factor:
    _target_: zatom.flow.time_factor.InverseTimeFactor
    max_value: 100.0
    min_value: 0.05
    zero_before: 0.0
    eps: 1e-6

# General architecture parameters
batch_size_scale_factor: 2 # 2, 1, 0.5 -> 80M, 160M, 300M model sizes
hidden_size: 512 # 512, 768, 1024 -> 80M, 160M, 300M model sizes
num_layers: 16
num_aux_layers: 0 # NOTE: by default, auxiliary task layers are disabled
aux_hidden_size: 512 # (fixed) hidden size for auxiliary task layers
aux_layer: 15 # NOTE: by default set to the last layer (zero-indexed)
token_num_heads: 8
interdist_loss: null # NOTE: must be one of (`l1`, `l2`, null)
time_distribution: beta # NOTE: must be one of (`uniform`, `beta`, `histogram`)
force_loss_choice: mse # NOTE: must be one of (`mse`, `mae`, `huber`)
time_alpha_factor: 1.8
test_so3_equivariance: false
