# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train_*.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

DEBUG=False
TYPECHECK=False

CUDA_HOME=/usr/local/cuda-12.8
HF_HOME=/home/username/hf_cache
TORCH_HOME=/home/username/torch_cache

WANDB_CACHE_DIR=/home/username/wandb_cache
WANDB_ARTIFACT_DIR=/home/username/wandb_artifacts
WANDB_API_KEY="your_wandb_api_key"
