# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train_*.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

# WANDB_API_KEY="your_wandb_api_key"
WANDB_INIT_TIMEOUT=90
TYPECHECK=False
DEBUG=False

CUDA_HOME="/usr/local/cuda-12.8"
TORCH_HOME="/home/username/.cache/torch_cache"
HF_HOME="/home/username/.cache/hf_cache"
