name: eval_sweep_mp20_2025-09-01_14-00-00
project: zatom
program: zatom/eval_ebm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: test_mp20/valid_rate

parameters:
  ckpt_path:
    value: ...

  data:
    values: [mp20_only]

  date:
    value: "2025-09-01_14-00-00"

  ebm_module:
    value: ebm

  ebm_module.sampling.batch_size:
    value: 1000

  ebm_module.sampling.num_samples:
    value: 10000

  ecoder.mcmc_num_steps:
    values: [1, 2, 3, 5, 10, 20]

  ecoder.randomize_mcmc_step_size_scale:
    values: [1.0, 1.5, 2.0, 2.5, 3.0, 4.0]

  logger:
    value: wandb

  name:
    value: "eval_${hydra:runtime.choices.data}_mns@${ecoder.mcmc_num_steps}_rmsss@${ecoder.randomize_mcmc_step_size_scale}"

  seed:
    value: 42

  trainer:
    value: gpu

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
