name: eval_sweep_mp20_2025-09-01_14-00-00
project: zatom
program: zatom/eval_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: test_mp20/valid_rate

parameters:
  ckpt_path:
    value: ...

  data:
    values: [joint]

  data.datamodule.datasets.qm9.proportion:
    value: 0.0

  date:
    value: "2025-09-01_14-00-00"

  fm_module.sampling.batch_size:
    value: 1000

  fm_module.sampling.num_samples:
    value: 10000

  logger:
    value: wandb

  name:
    value: "eval_${hydra:runtime.choices.data}"

  seed:
    value: 42

  trainer:
    value: gpu

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
