name: eval_sweep_qm9_2025-11-16_10-00-00
project: zatom
entity: zatom
program: zatom/eval_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: test_qm9/valid_rate

parameters:
  ckpt_path:
    value: ...

  data:
    values: [joint]

  data.datamodule.datasets.mp20.proportion:
    value: 0.0

  date:
    value: "2025-11-16_10-00-00"

  experiment:
    value: eval

  model.sampling.batch_size:
    value: 1000

  model.sampling.num_samples:
    value: 10000

  model.sampling.steps:
    values: [5, 10, 25, 50, 100, 200]

  model.sampling.cfg_scale:
    values: [0.0, 1.0, 2.0, 3.0, 4.0, 5.0]

  name:
    value: "eval_${hydra:runtime.choices.model/architecture}_steps-${hydra:runtime.choices.model.sampling.steps}_cfg-${hydra:runtime.choices.model.sampling.cfg_scale}_qm9"

  seed:
    value: 42

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
