name: finetune-sweep_qm9-prop-pred_2025-12-22_17-30-00
project: zatom
entity: zatom
program: zatom/train_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_qm9/aux_global_property_loss

parameters:
  pretrained_ckpt_path:
    value: "${paths.log_dir}/train_fm/runs/train_model-zatom_arch-tft_80M_joint_2025-12-15_20-00-00/checkpoints/model-epoch@1399-step@43400-val_qm9_valid_rate@0.9471-val_mp20_valid_rate@0.9003.ckpt"

  ckpt_path:
    value: "${paths.log_dir}/${task_name}/runs/${name}_${date}/checkpoints/"

  callbacks:
    model_checkpoint:
      monitor:
        value: val_qm9/aux_global_property_loss

  data:
    datamodule:
      batch_size:
        train: 256
        val: 256
        test: 256

      datasets:
        qm9:
          proportion:
            value: 1.0
          global_property:
            values:
              [
                mu,
                alpha,
                homo,
                lumo,
                gap,
                r2,
                zpve,
                U0,
                U,
                H,
                G,
                Cv,
                U0_atom,
                U_atom,
                H_atom,
                G_atom,
                A,
                B,
                C,
              ]
        matbench:
          proportion:
            value: 0.0
          global_property:
            value: matbench_mp_gap

  date:
    value: "2025-12-22_17-30-00"

  experiment:
    value: finetune

  name:
    value: "finetune-sweep_qm9-prop-pred-${data.datamodule.datasets.qm9.global_property}"

  seed:
    value: 42

  strategy:
    value: optimized_ddp

  trainer:
    value: ddp

  trainer.devices:
    value: 1

  trainer.check_val_every_n_epoch:
    value: 20

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
