name: train_sweep_joint
project: zatom
program: zatom/train_ebm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_mp20/valid_rate

parameters:
  data:
    values: [joint]

  ebm_module:
    value: ebm

  seed:
    value: 42

  ++ecoder.randomize_mcmc_num_steps:
    values: [0, 2]

  ++ecoder.randomize_mcmc_step_size_scale:
    values: [1, 1.25]

  ++ecoder.mcmc_step_size:
    values: [2, 3, 5, 10]

  trainer:
    value: gpu

  ++trainer.accumulate_grad_batches:
    value: 8

  logger:
    value: wandb

  name:
    value: "train_${hydra:runtime.choices.data}_rmns@${ecoder.randomize_mcmc_num_steps}_rmsss@${ecoder.randomize_mcmc_step_size_scale}_mss@${ecoder.mcmc_step_size}"

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
