name: train_sweep_joint_msmssl_tune-mss-mns_2025-08-28_17-00-00
project: zatom
program: zatom/train_ebm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_mp20/valid_rate

parameters:
  data:
    values: [joint]

  ebm_module:
    value: ebm

  seed:
    value: 42

  ecoder.mcmc_step_size:
    values: [5, 10, 50, 500, 1000, 3000, 5000, 10000]

  ecoder.mcmc_num_steps:
    values: [2, 3]

  trainer:
    value: gpu

  trainer.accumulate_grad_batches:
    value: 8

  trainer.check_val_every_n_epoch:
    value: 5

  logger:
    value: wandb

  name:
    value: "train_${hydra:runtime.choices.data}_mss@${ecoder.mcmc_step_size}_mns@${ecoder.mcmc_num_steps}"

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
