name: train-sweep_joint-qm9-mp20_loss-weights_2025-10-25_17-00-00
project: zatom
entity: zatom
program: zatom/train_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_mp20/valid_rate

parameters:
  ckpt_path:
    value: "${paths.log_dir}/${task_name}/runs/${name}_${date}/checkpoints/"

  data.datamodule.batch_size.base_accumulate_grad_batches:
    value: 4

  date:
    value: "2025-10-25_17-00-00"

  experiment:
    value: train

  model.architecture.pos_loss_weight:
    values: [1.0, 10.0]

  model.architecture.frac_coords_loss_weight:
    values: [1.0, 10.0]

  model.architecture.angles_radians_loss_weight:
    values: [1.0, 10.0]

  name:
    value: "train-sweep_joint-qm9-mp20_pos-loss-${model.architecture.pos_loss_weight}_frac-coords-loss-${model.architecture.frac_coords_loss_weight}_angles-radians-loss-${model.architecture.angles_radians_loss_weight}"

  seed:
    value: 42

  strategy:
    value: optimized_ddp

  trainer:
    value: ddp

  trainer.devices:
    value: 2

  trainer.check_val_every_n_epoch:
    value: 10

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
