name: train_sweep_joint-qm9-mp20_2025-10-18_14-00-00
project: zatom
entity: zatom
program: zatom/train_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_mp20/valid_rate

parameters:
  ckpt_path:
    value: "${paths.log_dir}/${task_name}/runs/${name}_${date}/checkpoints/"

  data:
    values: [joint]

  data.datamodule.batch_size.base_accumulate_grad_batches:
    value: 8

  date:
    value: "2025-10-18_14-00-00"

  experiment:
    value: train

  logger:
    value: wandb

  model/architecture:
    values: [mft_80M, mft_180M, mft_500M, met_80M, met_180M, met_500M]

  model.architecture.logit_normal_time:
    value: true

  name:
    value: "train-sweep_arch-${hydra:runtime.choices.model/architecture}_${hydra:runtime.choices.data}_logit-normal-time"

  seed:
    value: 42

  strategy:
    value: default

  trainer:
    value: gpu

  trainer.check_val_every_n_epoch:
    value: 10

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
