name: train-sweep_joint_atom-types-loss-pos-loss-frac-coords-loss_2025-11-16_10-00-00
project: zatom
entity: zatom
program: zatom/train_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_mp20/valid_rate

parameters:
  ckpt_path:
    value: "${paths.log_dir}/${task_name}/runs/${name}_${date}/checkpoints/"

  date:
    value: "2025-11-16_10-00-00"

  experiment:
    value: train

  model.architecture.atom_types_interpolant.loss_weight:
    values: [0.1, 1.0]

  model.architecture.pos_interpolant.loss_weight:
    values: [0.1, 1.0]

  model.architecture.frac_coords_interpolant.loss_weight:
    values: [0.1, 1.0]

  name:
    value: "train-sweep_joint_atom-types-loss-${model.architecture.atom_types_interpolant.loss_weight}_pos-loss-${model.architecture.pos_interpolant.loss_weight}_frac-coords-loss-${model.architecture.frac_coords_interpolant.loss_weight}"

  seed:
    value: 42

  strategy:
    value: optimized_ddp

  trainer:
    value: ddp

  trainer.devices:
    value: 2

  trainer.check_val_every_n_epoch:
    value: 10

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
