name: train_sweep_joint_2025-08-31_14-00-00
project: zatom
program: zatom/train_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: val_mp20/valid_rate

parameters:
  ckpt_path:
    value: "${paths.log_dir}/${task_name}/runs/${name}_${date}/checkpoints/"

  data:
    values: [joint]

  date:
    value: "2025-08-31_14-00-00"

  logger:
    value: wandb

  name:
    value: "train_${hydra:runtime.choices.data}"

  seed:
    value: 42

  trainer:
    value: gpu

  trainer.check_val_every_n_epoch:
    value: 5

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
