_target_: zatom.models.ebm_module.EBMLitModule

encoder: ${encoder}
decoder: ${decoder}

interpolant:
  # _target_: zatom.models.interpolants.flow_matching.FlowMatchingInterpolant
  # min_t: 1e-2
  # corrupt: True
  # num_timesteps: 100
  # self_condition: true
  # self_condition_prob: 0.5

augmentations:
  frac_coords: true
  pos: true

sampling:
  cfg_scale: 2.0
  num_samples: 1000
  batch_size: 100
  data_dir: ${paths.data_dir}
  visualize: true
  save_dir: ${paths.viz_dir}
  removeHs: false # only retain heavy atoms (for molecules)

conditioning:
  dataset_idx: true # always true
  spacegroup: false

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  lr: 0.0001
  weight_decay: 0.0

scheduler: null

scheduler_frequency: ${trainer.check_val_every_n_epoch}

# compile model for faster training with pytorch 2.0
compile: false
