_target_: zatom.models.ebm_module.EBMLitModule

ecoder: ${ecoder}

interpolant:
  _target_: zatom.models.interpolants.flow_matching.FlowMatchingInterpolant
  disc_feats: [atom_types]
  cont_feats: [pos, frac_coords, lengths_scaled, angles_radians]
  mask_token_index: ${ecoder.max_num_elements}
  min_t: 0
  max_t: 0
  corrupt: True
  disc_interpolant_type: masking # NOTE: must be one of (`uniform`, `masking`)

augmentations:
  frac_coords: true
  pos: true

sampling:
  num_samples: 1000
  batch_size: 100
  atom_types_temperature: 1.0 # NOTE: if `atom_types_top_p` is `null`, this will be ignored
  atom_types_top_p: 0.9 # NOTE: if `null`, argmax-decoding will instead be applied
  data_dir: ${paths.data_dir}
  visualize: true
  save_dir: ${paths.viz_dir}
  removeHs: false # only retain heavy atoms (for molecules)

conditioning:
  dataset_idx: true # always true
  spacegroup: false

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  lr: 0.0001
  weight_decay: 0.0

scheduler: null

scheduler_frequency: ${trainer.check_val_every_n_epoch}

# compile model for faster training with pytorch 2.0
compile: false
